*{
  box-sizing: border-box;
  margin-left: 0;
  padding: 0;
}

/* TUTTE LE MIE IMMAGINI IN QUESTA APP AVRANNO LE STESSE CARATTERISTICHE */
img{
  width: 57px;
  border-radius: 50px;
}

/* CONTENITORE PRINCIPALE DELL'APP */
.main-container{
  width: 100vw;
  min-width: 950px;
  height: 100vh;

}
.green-row{
  width: 100%;
  height: 16%;
  background:rgb(0,151,136);
}

.grey-row{
  width: 100%;
  height: 80%;
  background: #d7dbd7;
}

/* QUI ANDRANNO I CONTENUTI DELLA MIA APP */
.app-container{
  width: 92%;
  min-width: 950px;
  height: 92%;
  margin: 0 auto;
  position: absolute;
  top: 30px;
  left: 4%;
  box-shadow: 1px 1px 1px 2px rgba(177,177,177,0.3)
}
/* LEFT SIDE DELL'APP */
.side-left{
  width: 35%;
  height: 100%;
  float: left;
  border-right: 1px solid #b8b894;
}

/* PARTE SUPERIORE LEFT SIDE */
.user-name-top{
  width: 100%;
  height: 58px;
  background: rgba(234, 234, 234);
  border-right: 1px solid #b8b894;
  display: flex;
  justify-content: space-between;

}

.user-name{
  width: 40%;
  height: 58px;
}
.user-name img{
  vertical-align: middle;
  margin-left: 15px;
}
.right-part-username-row{
  height: 58px;
  width:
}
.right-part-username-row ul li{
  display: inline-block;
  list-style: none;
  padding-right: 10px;
  color: rgb(177,177,177);
}

/* ROW SOTTO USER-NAME */
.under-username-top{
  cursor: pointer;
  width: 100%;
  height: 69px;
  background: rgb(142, 218, 252);
  display: flex;
  align-items: center;
}

.no-sound{
  width: 56px;
  height: 53px;
  background: white;
  color: rgb(142, 218, 252);
  text-align: center;
  line-height: 42px;
  font-size: 19px;
  border-radius: 26px;
  margin-left: 15px;
  margin-right: 10px;
}
.no-sound>.fas{
  line-height: 50px;
}

.new-notice span:nth-child(1){
  display: block;
}
.new-notice span:nth-child(2){
  border-bottom: 1px solid rgb(177,177,177);
  color: rgb(177,177,177);
}

/* BARRA RICERCA DOPO NOME UTENTE LEFT SIDE APP */
.search-bar{
  height: 40px;
  width: 100%;
  background: rgb(249, 249, 251);
}
.input-search-container{
  width: 90%;
  height: 90%;
  margin: 0 auto;
  background: #fff;
  line-height: 35px;
}
.input-search-container>input{
  width: 70%;
  border: none;
  font-size: 18px;
}
.input-search-container>.fas{
  color: rgb(177,177,177);
  padding:0 24px 0 15px;
}
/* LISTA DEI NOMI IN MEMORIA MESSAGGI */

.names-tab{
  background: #fff;
  width: 100%;
  height: 73%;
  overflow-y: scroll;
}

.names-list{
  cursor: pointer;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid  rgb(177,177,177);
  color: #666;
}
.names-list:hover{
  background: #f2f2f2;
}
.names-list img{
  vertical-align: text-top;
  margin-left: 15px;
  margin-top: 5px;
}
.names-list span{
  padding: 5px 10px;
}
/* PARTE CENTRALE DI APP CONTAINER DIVISA IN PARTE TOP & BOTTOM */
.main-content{
  width: 65%;
  height: 100%;
  float: left;
}

/* PARTE SUPERIORE DELLA SEZIONE MAIN */
.main-top{
  overflow-y: scroll;
  width: 100%;
  height: calc(100% - 80px);
  background-image: url(../img/mine.jpg);

}
.name-talk-to{
  width: 100%;
  height: 58px;
  background:rgba(234, 234, 234);
  display: flex;
}
.text-access{
  padding-left: 5px;
  width: 83%;
}
.text-access span:nth-child(1){
  display: block;
  padding-top: 12PX;
}
.text-access span:nth-child(2){
  color: rgb(177,177,177);
}

.row-name-talk-to-right{
  height: 58px;
  width: 59px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  color: rgb(177,177,177);
}


/* PARTE IN CUI VERRANNO VISUALIZZATI I MESSAGGI */
.container-messages{
  width: 100%;
  height: auto;

}
/* dropdown menù */
.deleteMessage{
width: 150px;
height:70px;
background: #d9d9d9;
position: absolute;
border-radius: 5px;
box-shadow: 2px 2px #ccc;
cursor: pointer;
z-index: 5;
}
.deleteMessage ul li{
  list-style: none;
}
.fa-chevron-down{
  position:absolute;
  top:2px;
  right:10px;
  color: #b3b3b3;
  visibility: hidden;
  transition:visibility 0.6s;
  cursor: pointer;
}

.container-messages:hover .fa-chevron-down{
  visibility: visible;
}

.fa-info,.fa-trash-alt{
  font-size: 13px;
  padding-left: 5px;
}
/* box in cui viene visualizzato il messaggio */
.boxmessages{
  min-height: 50px;
  max-width: 40%;
  max-height: 50%;
  background: #fff;
}

.received{
  position: relative;
  padding: 16px;
  clear: both;
  text-align: center;
  margin: 15px;
  float: left;
  width: 240px;
  min-height: 50px;
  max-height: 60%;
  background: #fff;
  border-radius: 10px;
}

.sent{
  position: relative;
  padding: 16px;
  clear: both;
  text-align: center;
  margin: 15px;
  float: right;
  width: 240px;
  min-height: 50px;
  max-height: 60%;
  background: #d9ffb3;
  border-radius: 10px;
}


.main-bottom{
  width: 100%;
  height: 78px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.main-bottom input{
  height: 50px;
  width: 600px;
  font-size: 20px;
  border-radius: 5px;
}

.main-bottom{
  font-size: 20px;
  color: rgb(177,177,177);
}
