<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
  integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
  crossorigin="anonymous" />
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <!-- CONTENITORE PRINCIPALE -->
  <div class="main-container" id="myBoolZap">
    <div class="green-row"></div>
    <div class="grey-row"></div>


    <!-- CONTENITORE DELL'APP -->
    <div class="app-container ">

      <!-- PARTE SINISTRA DELL'APP -->
      <div class="side-left">

        <div class="user-name-top">

          <div class="user-name">
            <img src="./img/avatar_io.jpg" alt="immagine profilo utente">
            <span>Nome Utente</span>
          </div>

          <div class="right-part-username-row">
            <ul>
              <li><i class="fas fa-circle-notch"></i></li>
              <li><i class="fas fa-comment-alt"></i></li>
              <li><i class="fas fa-ellipsis-v"></i></li>
            </ul>

          </div>

        </div>

        <!--PARTE IN CUI INSERISCO LA SEARCHBAR LEFT SIDE----------->

        <div class="under-username-top">

          <div class="no-sound">
            <i class="fas fa-bell-slash"></i>

          </div>

          <div class="new-notice">
            <span>Ricevi notifiche di nuovi messaggi</span>
            <span>Attiva notifiche di desktop</span>
          </div>

        </div>



        <div class="search-bar">

          <div class="input-search-container">

            <i class="fas fa-search"></i>
            <!-- prendo l'input della search bar tramite v-model -->
            <input type="text" name="" v-model="inputSearchingContacts"
            placeholder="Cerca o inizia una nuova chat" value=""
            @keyup="searchingContacts()">

          </div>

        </div>

        <!-- /* LISTA DEI NOMI IN MEMORIA MESSAGGI */ -->

        <div class="names-tab">

          <!--AL CLICK MOSTRO I MESSAGGI IN MEMORIA PER OGNI CONTACTS-->
          <!--in base alla ricerca mostro i contatti cercati
          con names.visible -->

          <div class="names-list" v-for="(names,index) in contacts"
          @click="showContactMessages(index),getContactsDate()" v-if="names.visible">

          <img :src="'./img/avatar'+ names.avatar +'.jpg'"alt="immagine profilo contacts">

          <span>{{names.name}}</span>
        </div>

      </div>

    </div>



    <!-- QUESTA è LA PARTE CENTRALE DELL'APP -->
    <div class="main-content">

      <!-- PARTE SUPERIORE 'ULTIMO ACCESSO' -->

      <div class="main-top">

        <div class="name-talk-to">

          <div class="elem-container">
            <!--immagine profilo contacts generata dinamicamente  -->
            <img :src="'./img/avatar'+contacts[idxConct].avatar+'.jpg' " alt="immagine del contatto">
          </div>

          <!-- ULTIMO ACCESSO E IMMAGINE DELLA PERSONA CON CUI SI STA PARLANDO -->

          <div class="text-access" >
            <span>{{contacts[idxConct].name}}</span>
            <span>Ultimo accesso: {{lastAccessContact(idxConct)}}</span>

          </div>

          <div class="row-name-talk-to-right">

            <i class="fas fa-search"></i>
            <i class="fas fa-paperclip"></i>
            <i class="fas fa-ellipsis-v"></i>

          </div>

        </div>

        <!-- PARTE IN CUI COMPAIONO I MESSAGGI RICEVUTI E INVIATI -->
        <!-- i messaggi verranno suddivisi e verra attribuita loro la classe received||sent -->
        <div class="container-messages" v-on:mouseleave="DropOff()"
         v-for=" (element,index) in contacts[idxConct].messages"
         
        :class= "{
          received:(element.status === 'received'),
          sent:(element.status === 'sent')

        }">
        {{element.text}}

        <i class="fas fa-chevron-down"   @click="dropDownMenu(index)"></i>

        <!-- dropdown menù -->
        <div class="deleteMessage"  v-if="activeMsg.show && activeMsg.index === index">

          <ul>
            <li>Delete<i class="far fa-trash-alt" @click="deleteMessage(index)"></i></li>
            <li>Messagge info<i class="fas fa-info"></i></li>
          </ul>

        </div>

      </div>
      <!-- end container messages -->

    </div>

    <!-- PARTE IN CUI VENGONO SCRITTI I MESSAGGI -->
    <div class="main-bottom">

      <div class="smile">
        <i class="far fa-smile"></i>
      </div>

      <div class="typing">

        <!-- INPUT BAR -->
        <!-- l'input scritto dall'utente viene stampato in pagina,dopo 1 sec genero risposta automatica -->
        <input v-model="userMessage" type="text" placeholder="Scrivi il tuo messaggio" name=""
        @keyup.enter="userMessageSend(),contactAnswer()">

      </div>

      <div class="microphone">
        <i class="fas fa-microphone"></i>
      </div>

    </div>

  </div>

</div>

<!-- end main container -->
</div>
<script src="js/script.js" charset="utf-8"></script>
</body>
</html>
